:root {
  --header-font-family: JetBrains Mono, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 2em;
}

h1,h2,h3,h4,h5 {
  /* margin: 0.5rem 0 1rem 0; */
  font-family: var(--header-font-family);
  clear: both;
}

#HeaderBar .date{ float: right}
#HeaderBar .projectType{ float: left}
#HeaderBar .projectType{ float: left}
#RiverscapesLogo {
  background-image: url(https://data.riverscapes.net/riverscapes.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 6%;
  background-position: center center;
}
#HeaderInner {
  max-width: 66rem;
  margin: 0 auto;
  display: flex;
  padding: 0px 8px;
}
#HeaderBar {
  color: #fffffaff;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
  background-size: cover;
  background-color: #004793;
  background-image: url(https://data.riverscapes.net/banner.jpg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
#HeaderRight {
  flex: 1 1;
  padding: 1rem;
}

#HeaderBar h1, #HeaderBar h4{
  clear: both;
  color: #fffffaff;
  padding: 5px 0px;
}

#ReportInner{ 
  max-width: 66rem;
  margin: 0 auto;
  background: #ffffffff;
  color: #080705ff;
}

/* Some little tweaks to make sure plotly renders correctly */
.plotly-graph-div {
  margin-bottom: 10px;
}

.gridExample {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gridExample>div>* {
  background-color: red;
}

