<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>{{ report.title }}</title>
  <meta charset='utf-8'>
  <meta name="color-scheme" content="light">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://staging.reports.riverscapes.net/favicons/favicon.ico" sizes="any" />
  <link rel="icon" href="https://staging.reports.riverscapes.net/logo.svg" type="image/svg+xml" />

  <!-- These are the Riverscapes Fonts we always use: -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Karla&display=swap" rel="stylesheet">

  <!-- We're adding Google Material icons because icons are sometimes useful -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- We're using PICO CSS for layout: https://picocss.com/ -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css" />

  <!-- Let's import plotly from a CDN. Make sure the version number matches what we use locally-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.0/plotly.min.js"></script>

  <!-- We will inject report.css here -->
  {{ report.head }}
</head>

<body>

  <header id="report-nav" class="pdf-hide">
    <nav class="report-formats" aria-label="Report formats">
      <span class="report-formats__title">This report is also available as:</span>
      <a role="button" href="report.html" data-tooltip="Report with dynamic maps, charts and figures"
        data-placement="bottom">
        <span class="material-icons" aria-hidden="true">web</span>
        Dynamic HTML
      </a>
      <a role="button" href="report_static.html"
        data-tooltip="Flat, non-interactive diagrams, maps and charts. Good for printing" data-placement="bottom">
        <span class="material-icons" aria-hidden="true">web</span>
        Static HTML
      </a>
      <a role="button" href="report_static.pdf" data-tooltip="This report as a PDF file" data-placement="bottom">
        <span class="material-icons" aria-hidden="true">picture_as_pdf</span>
        PDF</a>
    </nav>
  </header>

  <header id="site-header">
    <div class="header-inner">
      <div class="riverscapes-logo" aria-hidden="true"></div>
      <div class="header-content">
        <div class="header-meta">
          <p class="meta-item">
            <span>{{ report.ReportType }}</span>
          </p>
        </div>
        <h1>{{ report.title }}</h1>
      </div>
    </div>
  </header>

  <main class="report-container">
    <div class="report-inner">
      {{ body | safe }}


    <!-- SITE METADATA -->
    <article class="report-meta">
      <h3>Report Generation</h3>
      <p>
        This report was generated automatically from <a href="https://reports.riverscapes.net">https://reports.riverscapes.net</a>
      </p>
      <ul>
        <li>Report generated by the Riverscapes Report Generator on <strong><time datetime="{{ report.date_iso | default(report.date, true) }}">{{ report.date }}</time></strog></li>
        {% if report.version %}
        <li>Report Version: v{{ report.version }}</li>
        {% endif %}
        <li>Riverscapes Data Exchange: <a href="https://data.riverscapes.net">https://data.riverscapes.net</a></li>
        <li>Report generated using open source libraries including:
          <ul>
            <li><a href="https://plotly.com/javascript/" target="_blank" rel="noopener">Plotly.js</a> for interactive charts</li>
          </ul>
        </li>
      </ul>
    </article>

    </div>
  </main>
  <footer class="site-footer" aria-labelledby="site-footer-title">
    <!-- Decorative background (wave) -->
    <div class="footer-inner">
      <div class="grid">
        <!-- Logo -->
        <div class="footer-logo">
          <a class="riverscapes-footer-logo" href="https://riverscapes.net" target="_blank" rel="noopener"
            aria-label="Riverscapes Consortium"></a>
        </div>

        <!-- Column 1 -->
        <nav class="footer-col" aria-labelledby="footer-connect">
          <h3 id="footer-connect" class="footer-heading">Connect with Riverscapes Consortium</h3>
          <ul class="footer-links">
            <li><a href="https://data.riverscapes.net" target="_blank" rel="noopener">Explore the Data Exchange</a></li>
            <li><a href="https://riverscapes.net" target="_blank" rel="noopener">Connect with Riverscapes
                Communities</a></li>
            <li><a href="https://riverscapes.freshdesk.com/support/tickets/new" target="_blank" rel="noopener">Submit a
                Support Ticket</a></li>
            <li><a href="mailto:support@riverscapes.freshdesk.com">support@riverscapes.freshdesk.com</a></li>
          </ul>
        </nav>
      </div>

    <a
      class="footer-bottom copyright-bar"
      href="https://creativecommons.org/licenses/by/4.0/"
      target="_blank"
      rel="noopener"
    >
      <span class="copyright-inner">
        <img src="https://data.riverscapes.net/footer/icon-copyright.png"  alt="Copyright logo" />
        <img src="https://data.riverscapes.net/footer/icon-person.png" alt="Person logo" />
        <!-- <small class="footer-copy">Riverscapes Consortium</small> -->
      </span>
    </a>
    </div>
  </footer>
</body>

</html>