/**
  * This stylesheet is for styles that are only used in the demo
  * It is not used in the actual report generation
  * It is linked only in DEMO/report.html
  */


/* Adding a little obvious styling for the grid example */
.gridExample {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gridExample>div>* {
  background-color: red;
}


/**
  * This is a dummy image placeholder style.
  * It creates a box with a dashed border and a placeholder text.
  * You can apply this class to any div where you want to indicate an image will go.
  *  <div class="dummyImage" style="height: 300px;"></div>
  */
.dummyImage {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: lightgray;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1.5em;
  margin-bottom: 1em;
  overflow: hidden;
}

.dummyImage::before {
  font-family: 'Material Icons';
  content: 'image';
  font-size: 48px;
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dummyImage::after {
  content: "Image Placeholder";
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 0.8em;
  color: #666;
  opacity: 0.8;
}

/** This is a dummy CHART placeholder style.
  * It creates a box with a dashed border and a placeholder text.
  * You can apply this class to any div where you want to indicate an icon will go.
  *  <div class="dummyChart" style="height: 300px;"></div>
  */
.dummyChart {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 1.5em;
  margin-bottom: 1em;
  overflow: hidden;
}
.dummyChart::before {
  font-family: 'Material Icons';
  content: 'insert_chart';
  font-size: 64px;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dummyChart::after {
  content: "Chart Placeholder";
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 0.8em;
  color: #666;
  opacity: 0.8;
}

/**
  * This is a dummy ICON placeholder style.
  * It creates a box with a dashed border and a placeholder text.
  * You can apply this class to any div where you want to indicate an icon will go.
  *  <div class="dummyMap" style="height: 100px; width: 100px;"></div>
  */
.dummyMap {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  border: 2px dashed #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 1.5em;
  margin-bottom: 1em;
  overflow: hidden;
}
.dummyMap::before {
  font-family: 'Material Icons';
  content: 'map';
  font-size: 64px;
  color: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dummyMap::after {
  content: "Map Placeholder";
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 0.8em;
  color: #666;
  opacity: 0.8;
}


  .DEMO-no-pdf {
    display: block;
  }
  .DEMO-only-pdf {
    display: none;
  }

@media print {
  .DEMO-no-pdf {
    display: none;
  }
  .DEMO-only-pdf {
    display: block;
  }
}